examples/kumologica-serverless-dynamodb-api-example/kumologica-dynamodb-api-flow.json
[{"id":"main.flow","type":"tab","label":"main","disabled":false,"info":""},{"id":"test.flow","type":"tab","label":"test","disabled":false,"info":""},{"id":"eacbb9ef.69d5c8","type":"EventListener","z":"main.flow","name":"GET /user/:userId","eventSource":"api","dynamodbOperation":"","apiMethod":"get","apiUrl":"/user/:userId","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":120,"y":160,"wires":[["40327a9c.ab4944"]],"caname":"aws-event-handler","category":"aws"},{"id":"b5fc6ccd.17dd7","type":"EventListener-End","z":"main.flow","name":"Get Success","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"msg.payload.Item","x":622.5,"y":160,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"40327a9c.ab4944","type":"Dynamo DB","z":"main.flow","name":"GetItem","operation":"GetItem","tableArn":"env.TABLE","columns":[{"columnType":"S","columnName":"userId","columnValue":"msg.header.event.Records[0].pathParameters.userId"}],"x":382.5,"y":160,"wires":[["e91906fa.b5d6c8"]],"caname":"dynamo","category":"aws"},{"id":"dff830a1.7c5c3","type":"TestCaseEnd","z":"test.flow","name":"","x":522.5,"y":140,"wires":[],"caname":"test-case-end","category":"testing"},{"id":"73d71278.d44fcc","type":"TestCase","z":"test.flow","name":"Test Get","selectedTargetNode":"eacbb9ef.69d5c8","payload":"{\n  \"path\": \"/user/user1\",\n  \"headers\": {\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n    \"Accept-Encoding\": \"gzip, deflate, lzma, sdch, br\",\n    \"Accept-Language\": \"en-US,en;q=0.8\",\n    \"CloudFront-Forwarded-Proto\": \"https\",\n    \"CloudFront-Is-Desktop-Viewer\": \"true\",\n    \"CloudFront-Is-Mobile-Viewer\": \"false\",\n    \"CloudFront-Is-SmartTV-Viewer\": \"false\",\n    \"CloudFront-Is-Tablet-Viewer\": \"false\",\n    \"CloudFront-Viewer-Country\": \"US\",\n    \"Host\": \"wt6mne2s9k.execute-api.us-west-2.amazonaws.com\",\n    \"Upgrade-Insecure-Requests\": \"1\",\n    \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n    \"Via\": \"1.1 fb7cca60f0ecd82ce07790c9c5eef16c.cloudfront.net (CloudFront)\",\n    \"X-Amz-Cf-Id\": \"nBsWBOrSHMgnaROZJK1wGCZ9PcRcSpq_oSXZNQwQ10OTZL4cimZo3g==\",\n    \"X-Forwarded-For\": \"192.168.100.1, 192.168.1.1\",\n    \"X-Forwarded-Port\": \"443\",\n    \"X-Forwarded-Proto\": \"https\"\n  },\n  \"pathParameters\": {\n    \"userId\": \"user1\"\n  },\n  \"requestContext\": {\n    \"accountId\": \"123456789012\",\n    \"resourceId\": \"us4z18\",\n    \"stage\": \"test\",\n    \"requestId\": \"41b45ea3-70b5-11e6-b7bd-69b5aaebc7d9\",\n    \"identity\": {\n      \"cognitoIdentityPoolId\": \"\",\n      \"accountId\": \"\",\n      \"cognitoIdentityId\": \"\",\n      \"caller\": \"\",\n      \"apiKey\": \"\",\n      \"sourceIp\": \"192.168.100.1\",\n      \"cognitoAuthenticationType\": \"\",\n      \"cognitoAuthenticationProvider\": \"\",\n      \"userArn\": \"\",\n      \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n      \"user\": \"\"\n    },\n    \"resourcePath\": \"/{proxy+}\",\n    \"httpMethod\": \"GET\",\n    \"apiId\": \"wt6mne2s9k\"\n  },\n  \"resource\": \"/{proxy+}\",\n  \"httpMethod\": \"GET\",\n  \"queryStringParameters\": {}\n}","initialLoad":"false","x":182.5,"y":140,"wires":[["bcd551bd.70dad"]],"caname":"test-case","category":"testing"},{"id":"43a967d2.6c1af8","type":"EventListener","z":"main.flow","name":"PUT /user","eventSource":"api","dynamodbOperation":"","apiMethod":"put","apiUrl":"/user","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":122.5,"y":300,"wires":[["e9e1150a.29df08"]],"caname":"aws-event-handler","category":"aws"},{"id":"2ce148c9.36bda8","type":"Dynamo DB","z":"main.flow","name":"PutItem","operation":"PutItem","tableArn":"env.TABLE","columns":[{"columnType":"S","columnName":"userId","columnValue":"msg.payload.userId"},{"columnType":"S","columnName":"name","columnValue":"msg.payload.name"}],"x":382.5,"y":300,"wires":[["6b0f4847.b31d48"]],"caname":"dynamo","category":"aws"},{"id":"6b0f4847.b31d48","type":"Logger","z":"main.flow","name":"","level":"INFO","message":"${msg.payload}","x":502.5,"y":300,"wires":[["bcc44bf6.980cd8"]],"caname":"logger","category":"logging"},{"id":"bcc44bf6.980cd8","type":"EventListener-End","z":"main.flow","name":"Put Success","statusCode":"200","headers":{"content-type":"application/json"},"payload":"{}","x":622.5,"y":300,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"7722aa77.096c24","type":"TestCase","z":"test.flow","name":"Test Put","selectedTargetNode":"43a967d2.6c1af8","payload":"{\n    \"resource\":\"/user\",\n    \"path\":\"/user\",\n    \"httpMethod\":\"PUT\",\n    \"headers\":{\"Accept\":\"*/*\",\n    \"content-type\":\"application/json\",\n    \"day\":\"Thursday\",\n    \"Host\":\"r275xc9bmd.execute-api.us-east-1.amazonaws.com\",\n    \"User-Agent\":\"curl/7.64.0\",\n    \"X-Amzn-Trace-Id\":\"Root=1-1a2b3c4d-a1b2c3d4e5f6a1b2c3d4e5f6\",\n    \"X-Forwarded-For\":\"72.21.198.64\",\n    \"X-Forwarded-Port\":\"443\",\n    \"X-Forwarded-Proto\":\"https\"},\n    \"multiValueHeaders\":{\"Accept\":[\"*/*\"],\n    \"content-type\":[\"application/json\"],\n    \"day\":[\"Thursday\"],\n    \"Host\":[\"r275xc9bmd.execute-api.us-east-1.amazonaws.com\"],\n    \"User-Agent\":[\"curl/0.0.0\"],\n    \"X-Amzn-Trace-Id\":[\"Root=1-1a2b3c4d-a1b2c3d4e5f6a1b2c3d4e5f6\"],\n    \"X-Forwarded-For\":[\"11.22.333.44\"],\n    \"X-Forwarded-Port\":[\"443\"],\n    \"X-Forwarded-Proto\":[\"https\"]},\n    \"queryStringParameters\":{\"city\":\"Seattle\",\n    \"name\":\"John\"\n  },\n  \"multiValueQueryStringParameters\":{\n    \"city\":[\"Seattle\"],\n    \"name\":[\"John\"]\n  },\n  \"pathParameters\":null,\n  \"stageVariables\":null,\n  \"requestContext\":{\n    \"resourceId\":\"3htbry\",\n    \"resourcePath\":\"/helloworld\",\n    \"htt* Connection #0 to host r275xc9bmd.execute-api.us-east-1.amazonaws.com left intact pMethod\":\"POST\",\n    \"extendedRequestId\":\"a1b2c3d4e5f6g7h=\",\n    \"requestTime\":\"20/Mar/2019:20:38:30 +0000\",\n    \"path\":\"/test/helloworld\",\n    \"accountId\":\"123456789012\",\n    \"protocol\":\"HTTP/1.1\",\n    \"stage\":\"test\",\n    \"domainPrefix\":\"r275xc9bmd\",\n    \"requestTimeEpoch\":1553114310423,\n    \"requestId\":\"test-invoke-request\",\n    \"identity\":{\"cognitoIdentityPoolId\":null,\n      \"accountId\":null,\n      \"cognitoIdentityId\":null,\n      \"caller\":null,\n      \"sourceIp\":\"test-invoke-source-ip\",\n      \"accessKey\":null,\n      \"cognitoAuthenticationType\":null,\n      \"cognitoAuthenticationProvider\":null,\n      \"userArn\":null,\n      \"userAgent\":\"curl/0.0.0\",\"user\":null\n    },\n    \"domainName\":\"r275xc9bmd.execute-api.us-east-1.amazonaws.com\",\n    \"apiId\":\"r275xc9bmd\"\n  },\n  \"body\":{ \"userId\": \"user1\", \"name\": \"John Smith\" },\n  \"isBase64Encoded\":false\n}\n","initialLoad":"false","x":182.5,"y":260,"wires":[["1d121e28.3615d2"]],"caname":"test-case","category":"testing"},{"id":"1d121e28.3615d2","type":"TestCaseEnd","z":"test.flow","name":"","x":522.5,"y":260,"wires":[],"caname":"test-case-end","category":"testing"},{"id":"bcd551bd.70dad","type":"Assertion","z":"test.flow","name":"Validate userId","selector":"jsonBody","property":"userId.S","comparison":"equals","value":"user1","x":302.5,"y":140,"wires":[["f9f0090b.d0b778"]],"caname":"test-assertion","category":"testing"},{"id":"f9f0090b.d0b778","type":"Assertion","z":"test.flow","name":"Validate name","selector":"jsonBody","property":"name.S","comparison":"equals","value":"John Smith","x":422.5,"y":140,"wires":[["dff830a1.7c5c3"]],"caname":"test-assertion","category":"testing"},{"id":"7b428cd5.35acd4","type":"EventListener","z":"main.flow","name":"GET /user","eventSource":"api","dynamodbOperation":"","apiMethod":"get","apiUrl":"/user","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":122.5,"y":420,"wires":[["ec08417f.64fdd"]],"caname":"aws-event-handler","category":"aws"},{"id":"ec08417f.64fdd","type":"Dynamo DB","z":"main.flow","name":"Scan","operation":"Scan","tableArn":"env.TABLE","columns":[],"x":382.5,"y":420,"wires":[["723b925c.e6695c"]],"caname":"dynamo","category":"aws"},{"id":"2122742f.bce4ac","type":"EventListener-End","z":"main.flow","name":"Scan Success","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"msg.payload.Items","x":622.5,"y":420,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"c9c14018.563ab","type":"EventListener","z":"main.flow","name":"DELETE /user/:userId","eventSource":"api","dynamodbOperation":"","apiMethod":"delete","apiUrl":"/user/:userId","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":122.5,"y":520,"wires":[["cc62ddb5.e2364"]],"caname":"aws-event-handler","category":"aws"},{"id":"df74da52.0f5158","type":"EventListener-End","z":"main.flow","name":"Delete Success","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"{}","x":622.5,"y":520,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"cc62ddb5.e2364","type":"Dynamo DB","z":"main.flow","name":"DeleteItem","operation":"DeleteItem","tableArn":"env.TABLE","columns":[{"columnType":"S","columnName":"userId","columnValue":"msg.header.event.Records[0].pathParameters.userId"}],"x":382.5,"y":520,"wires":[["df74da52.0f5158"]],"caname":"dynamo","category":"aws"},{"id":"b0827bd5.293378","type":"TestCase","z":"test.flow","name":"test scan","selectedTargetNode":"7b428cd5.35acd4","payload":"{\n  \"path\": \"/user\",\n  \"headers\": {\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n    \"Accept-Encoding\": \"gzip, deflate, lzma, sdch, br\",\n    \"Accept-Language\": \"en-US,en;q=0.8\",\n    \"CloudFront-Forwarded-Proto\": \"https\",\n    \"CloudFront-Is-Desktop-Viewer\": \"true\",\n    \"CloudFront-Is-Mobile-Viewer\": \"false\",\n    \"CloudFront-Is-SmartTV-Viewer\": \"false\",\n    \"CloudFront-Is-Tablet-Viewer\": \"false\",\n    \"CloudFront-Viewer-Country\": \"US\",\n    \"Host\": \"wt6mne2s9k.execute-api.us-west-2.amazonaws.com\",\n    \"Upgrade-Insecure-Requests\": \"1\",\n    \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n    \"Via\": \"1.1 fb7cca60f0ecd82ce07790c9c5eef16c.cloudfront.net (CloudFront)\",\n    \"X-Amz-Cf-Id\": \"nBsWBOrSHMgnaROZJK1wGCZ9PcRcSpq_oSXZNQwQ10OTZL4cimZo3g==\",\n    \"X-Forwarded-For\": \"192.168.100.1, 192.168.1.1\",\n    \"X-Forwarded-Port\": \"443\",\n    \"X-Forwarded-Proto\": \"https\"\n  },\n  \"pathParameters\": null,\n  \"requestContext\": {\n    \"accountId\": \"123456789012\",\n    \"resourceId\": \"us4z18\",\n    \"stage\": \"test\",\n    \"requestId\": \"41b45ea3-70b5-11e6-b7bd-69b5aaebc7d9\",\n    \"identity\": {\n      \"cognitoIdentityPoolId\": \"\",\n      \"accountId\": \"\",\n      \"cognitoIdentityId\": \"\",\n      \"caller\": \"\",\n      \"apiKey\": \"\",\n      \"sourceIp\": \"192.168.100.1\",\n      \"cognitoAuthenticationType\": \"\",\n      \"cognitoAuthenticationProvider\": \"\",\n      \"userArn\": \"\",\n      \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n      \"user\": \"\"\n    },\n    \"resourcePath\": \"/{proxy+}\",\n    \"httpMethod\": \"GET\",\n    \"apiId\": \"wt6mne2s9k\"\n  },\n  \"resource\": \"/{proxy+}\",\n  \"httpMethod\": \"GET\",\n  \"queryStringParameters\": null,\n  \"stageVariables\": {\n    \"stageVarName\": \"stageVarValue\"\n  }\n}","initialLoad":"false","x":182.5,"y":380,"wires":[["fe8d1fd3.7b7a5"]],"caname":"test-case","category":"testing"},{"id":"5b8d9f0f.ed576","type":"TestCaseEnd","z":"test.flow","name":"","x":522.5,"y":380,"wires":[],"caname":"test-case-end","category":"testing"},{"id":"fe8d1fd3.7b7a5","type":"Assertion","z":"test.flow","name":"Validate userId","selector":"jsonBody","property":"this[0].userId.S","comparison":"equals","value":"user1","x":302.5,"y":380,"wires":[["300053f.ba064ac"]],"caname":"test-assertion","category":"testing"},{"id":"300053f.ba064ac","type":"Assertion","z":"test.flow","name":"Validate name","selector":"jsonBody","property":"[0].name.S","comparison":"equals","value":"John Smith","x":422.5,"y":380,"wires":[["5b8d9f0f.ed576"]],"caname":"test-assertion","category":"testing"},{"id":"e91906fa.b5d6c8","type":"Logger","z":"main.flow","name":"","level":"INFO","message":"msg.payload.Item","x":502.5,"y":160,"wires":[["b5fc6ccd.17dd7"]],"caname":"logger","category":"logging"},{"id":"723b925c.e6695c","type":"Logger","z":"main.flow","name":"","level":"INFO","message":"msg.payload","x":502.5,"y":420,"wires":[["2122742f.bce4ac"]],"caname":"logger","category":"logging"},{"id":"e9e1150a.29df08","type":"Logger","z":"main.flow","name":"","level":"INFO","message":"msg.header.event.Records[0]","x":262.5,"y":300,"wires":[["2ce148c9.36bda8"]],"caname":"logger","category":"logging"},{"id":"70a74c34.7c7654","type":"TestCase","z":"test.flow","name":"Test Delete","selectedTargetNode":"eacbb9ef.69d5c8","payload":"{\n  \"path\": \"/user/user7\",\n  \"headers\": {\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n    \"Accept-Encoding\": \"gzip, deflate, lzma, sdch, br\",\n    \"Accept-Language\": \"en-US,en;q=0.8\",\n    \"CloudFront-Forwarded-Proto\": \"https\",\n    \"CloudFront-Is-Desktop-Viewer\": \"true\",\n    \"CloudFront-Is-Mobile-Viewer\": \"false\",\n    \"CloudFront-Is-SmartTV-Viewer\": \"false\",\n    \"CloudFront-Is-Tablet-Viewer\": \"false\",\n    \"CloudFront-Viewer-Country\": \"US\",\n    \"Host\": \"wt6mne2s9k.execute-api.us-west-2.amazonaws.com\",\n    \"Upgrade-Insecure-Requests\": \"1\",\n    \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n    \"Via\": \"1.1 fb7cca60f0ecd82ce07790c9c5eef16c.cloudfront.net (CloudFront)\",\n    \"X-Amz-Cf-Id\": \"nBsWBOrSHMgnaROZJK1wGCZ9PcRcSpq_oSXZNQwQ10OTZL4cimZo3g==\",\n    \"X-Forwarded-For\": \"192.168.100.1, 192.168.1.1\",\n    \"X-Forwarded-Port\": \"443\",\n    \"X-Forwarded-Proto\": \"https\"\n  },\n  \"pathParameters\": {\n    \"userId\": \"user7\"\n  },\n  \"requestContext\": {\n    \"accountId\": \"123456789012\",\n    \"resourceId\": \"us4z18\",\n    \"stage\": \"test\",\n    \"requestId\": \"41b45ea3-70b5-11e6-b7bd-69b5aaebc7d9\",\n    \"identity\": {\n      \"cognitoIdentityPoolId\": \"\",\n      \"accountId\": \"\",\n      \"cognitoIdentityId\": \"\",\n      \"caller\": \"\",\n      \"apiKey\": \"\",\n      \"sourceIp\": \"192.168.100.1\",\n      \"cognitoAuthenticationType\": \"\",\n      \"cognitoAuthenticationProvider\": \"\",\n      \"userArn\": \"\",\n      \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n      \"user\": \"\"\n    },\n    \"resourcePath\": \"/{proxy+}\",\n    \"httpMethod\": \"DELETE\",\n    \"apiId\": \"wt6mne2s9k\"\n  },\n  \"resource\": \"/{proxy+}\",\n  \"httpMethod\": \"DELETE\",\n  \"queryStringParameters\": {}\n}","initialLoad":"false","x":182.5,"y":500,"wires":[["9eec241f.67c728"]],"caname":"test-case","category":"testing"},{"id":"9eec241f.67c728","type":"TestCaseEnd","z":"test.flow","name":"","x":522.5,"y":500,"wires":[],"caname":"test-case-end","category":"testing"}]